/* [placeholder="Поиск"] {
    width: 250px;
    position: relative;
    z-index: 2;
    background: no-repeat;
}


bo */

/* td,
th {
  text-align: center;
}

tr td:first-child,
tr th:first-child {
  text-align: left;
}

tr td:last-child,
tr th:last-child {
  text-align: right;
} */


/* . */